.text-add-ad {
  color: #747474;
  font-size: 14px;
}
.input-modification- {
  border: none;
  outline: none;
  border-radius: 5px;
  color: #747474;
  font-size: 14px;
  margin-left: auto;
  padding-left: 5px;
  height: 37px;
}
.input-modification--{
  border: none;
  outline: none;
  border-radius: 5px;
  color: #747474;
  font-size: 14px;

  padding-left: 5px;
}
.detailed-ads{
  text-align: left;
  display: flex;
  align-items: center;
}