.footer{
    background-color:#303030;
    margin-top: 100px;
    width: 100%;
    height: 200px;
}
.div-footer-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer-links{
    margin-top: 10px;
    display: flex;
    margin-left: 50px;
    flex-direction: column;
}
.div-social-networks{
    display: flex;
    margin-top: 10px;
    gap: 5px;
    margin-right: 50px;
    flex-direction: column;
    align-items: center;
}
.div-social-networks img{
    width: 30px;
    height: 30px;
}